################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Esp32ProductWork/FileContentIndex/35ac5dcb-48a0-4620-a7d7-4c981f663f90.vsidx
/.vs/Esp32ProductWork/FileContentIndex/81f7305a-9c9a-4b0f-a583-af84a9e43023.vsidx
/.vs/Esp32ProductWork/FileContentIndex/61c1d78d-d6f6-4fe7-a5f3-ea01e7eb6bb1.vsidx
/.vs/Esp32ProductWork/FileContentIndex/930aefde-84f2-4d7a-86d0-726e2c6eeae1.vsidx
/.vs
